<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>333811239732-ap7jfee6sm4usg1iurc2k39d9sdj0f22.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.333811239732-ap7jfee6sm4usg1iurc2k39d9sdj0f22</string>
	<key>API_KEY</key>
	<string>AIzaSyDRrWF-JO717DMUJzSfM-zjtU1ba70QhvM</string>
	<key>GCM_SENDER_ID</key>
	<string>333811239732</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>NguyenBaHao.BaHaoCryto</string>
	<key>PROJECT_ID</key>
	<string>bahaocrytoapp</string>
	<key>STORAGE_BUCKET</key>
	<string>bahaocrytoapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:333811239732:ios:7c3489e46ea5d291cb3361</string>
</dict>
</plist>